<section class="config line mt-5">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="config-form shadow-none">
        <form action="">
          <div class="row">
            <div class="col-md-6">
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="plant">PLant</label>
                <select
                  class="form-select w-50"
                  aria-label="Default select example"
                  id="plant"
                  formControlName="plant"
                >
                  <option value="1"></option>
                  <option value="2"></option>
                </select>
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="line">Line</label>
                <select
                  class="form-select w-50"
                  aria-label="Default select example"
                  id="line"
                  formControlName="line"
                >
                  <option value="1"></option>
                  <option value="2"></option>
                </select>
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="machineCode">Machine Code</label>
                <input
                  type="text"
                  class="form-control w-50"
                  id="machineCode"
                  formControlName="machineCode"
                />
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label
                  for="
              machineStandardSpeed"
                  >Machine Standard Speed</label
                >
                <input
                  type="text"
                  class="form-control w-50"
                  id="machineStandardSpeed"
                  formControlName="machineStandardSpeed"
                />
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="machineFunction">Machine Function</label>
                <input
                  type="text"
                  class="form-control w-50"
                  id="machineFunction"
                  formControlName="machineFunction"
                />
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="machineLocation">Machine Location</label>
                <input
                  type="text"
                  class="form-control w-50"
                  id="machineLocation"
                  formControlName="machineLocation"
                />
              </div>
            </div>
            <div class="col-md-6 ps-5">
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="machineName">Machine Name</label>
                <input
                  type="text"
                  class="form-control w-50"
                  id="machineName"
                  formControlName="machineName"
                />
              </div>
            </div>
          </div>
          <div class="group-btn d-flex justify-content-center pt-5">
            <button class="main-btn mt-5">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
