<section class="setting">
  <app-navbar class="logo-img"></app-navbar>
  <div class="container">
    <div class="row g-5 py-5">
      <div class="col-md-6">
        <div
          class="setting-configure text-center p-3"
          routerLink="/setting/sku"
        >
          <a>Configure SKU/Material Catalog</a>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="setting-configure text-center p-3"
          routerLink="/setting/warehouse"
        >
          <a>Configure Warehouse Organization</a>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="setting-configure text-center p-3"
          routerLink="/setting/organization"
        >
          <a>Configure Organization/Location /Asset Hierarchy</a>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="setting-configure text-center p-3"
          routerLink="/setting/iotDevice"
        >
          <a>Configure IoT Devices</a>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="setting-configure text-center p-3"
          routerLink="/setting/resource"
        >
          <a>Configure Resource Elements</a>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="setting-configure text-center p-3"
          routerLink="/setting/systemSetting"
        >
          <a>Configure System Settings</a>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="setting-configure text-center p-3"
          routerLink="/setting/manPower"
        >
          <a>Configure Human Capital</a>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="setting-configure text-center p-3"
          routerLink="/setting/stoppage"
        >
          <a>Configure Stoppage catalog</a>
        </div>
      </div>
      <div class="col-md-6">
        <div
          class="setting-configure text-center p-3"
          routerLink="/setting/customerCalendar"
        >
          <a>Configure Customer Calendar</a>
        </div>
      </div>
    </div>
  </div>
</section>
