<section class="rdi">
  <div class="row justify-content-end">
    <div class="col-md-4">
      <p-calendar styleClass="w-100" [(ngModel)]="rdiDate" (onSelect)="changeDate($event)" [showIcon]="true"
        inputId="icon"></p-calendar>
    </div>
  </div>
  <div class="row p-2 g-5 mb-3">
    <div class="col-md-6">
      <div class="form-table position-relative">
        <h3 class="p-3">Planned SKU’s</h3>
        <div class="sku-table">
          <p-table [scrollable]="true" scrollHeight="20rem" [value]="plannedSkus">
            <ng-template pTemplate="header">
              <tr>
                <th>Job Order</th>
                <th>Product</th>
                <!-- <th>Material</th> -->
                <th>Product's Quantity</th>
                <th>Line</th>
                <th>Plant</th>
                <th>Date</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
              <tr>
                <td>{{product.jobOrderCode}}</td>
                <td>{{product.productName}}</td>
                <!-- <td>{{product.materialName}}</td> -->
                <td>{{product.quantity}}</td>
                <td>{{product.lineName}}</td>
                <td>{{product.plantName}}</td>
                <td>{{product.date | date }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="rdi-arrow d-flex align-items-center justify-content-center">
          <i class="pi pi-angle-right text-white fs-1"></i>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-table position-relative">
        <h3 class="p-3">Released SKU’s</h3>
        <div class="sku-table">
          <p-table [scrollable]="true" scrollHeight="20rem" [value]="releasedSKUs">
            <ng-template pTemplate="header">
              <tr>
                <th>Job Order</th>
                <th>Product</th>
                <th>Material</th>
                <th>Material's Quantity</th>
                <th>Line</th>
                <th>Plant</th>
                <th>Date</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
              <tr>
                <td>{{product.jobOrderCode}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.materialName}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.lineName}}</td>
                <td>{{product.plantName}}</td>
                <td>{{product.date | date }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="down-arrow d-flex align-items-center justify-content-center">
          <i class="pi pi-angle-down text-white fs-1"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-2 g-5">
    <div class="col-md-6">
      <div class="form-table position-relative">
        <h3 class="p-3">Intra Logistic</h3>
        <div class="sku-table">
          <p-table [scrollable]="true" scrollHeight="20rem" [value]="intraLogistic">
            <ng-template pTemplate="header">
              <tr>
                <th>Job Order</th>
                <th>Product</th>
                <th>Material</th>
                <th>Material's Quantity</th>
                <th>Line</th>
                <th>Plant</th>
                <th>Date</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
              <tr>
                <td>{{product.jobOrderCode}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.materialName}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.lineName}}</td>
                <td>{{product.plantName}}</td>
                <td>{{product.date | date }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="rdi-arrow d-flex align-items-center justify-content-center">
          <i class="pi pi-angle-right text-white fs-1"></i>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-table">
        <h3 clas s="p-3">Dispensed SKU/Batch</h3>
        <div class="sku-table">
          <p-table [scrollable]="true" scrollHeight="20rem" [value]="dispensedSKUBatch">
            <ng-template pTemplate="header">
              <tr>
                <th>Job Order</th>
                <th>Product</th>
                <th>Material</th>
                <th>Material's Quantity</th>
                <th>Line</th>
                <th>Plant</th>
                <th>Date</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
              <tr>
                <td>{{product.jobOrderCode}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.materialName}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.lineName}}</td>
                <td>{{product.plantName}}</td>
                <td>{{product.date | date }}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</section>
