<section class="rdi">
  <div class="row p-2 g-5 mb-3">
    <div class="col-md-6">
      <div class="form-table position-relative">
        <h3 class="p-3">Planned SKU’s</h3>
        <div class="sku-table">
          <table class="table">
            <thead class="">
              <tr>
                <th>Job Order</th>
                <th>SKU</th>
                <th>Material</th>
                <th>Material's Quantity</th>
                <th>Line</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1253</td>
                <td>LM41691000</td>
                <td>Benzalkonium Chloride</td>
                <td>1115345</td>
                <td>3</td>
                <td>05/05/2024</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="rdi-arrow d-flex align-items-center justify-content-center">
          <i class="pi pi-angle-right text-white fs-1"></i>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-table position-relative">
        <h3 class="p-3">Released SKU’s</h3>
        <div class="sku-table">
          <table class="table">
            <thead class="">
              <tr>
                <th>Job Order</th>
                <th>SKU</th>
                <th>Material</th>
                <th>Material's Quantity</th>
                <th>Line</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1253</td>
                <td>LM41691000</td>
                <td>Benzalkonium Chloride</td>
                <td>1115345</td>
                <td>3</td>
                <td>05/05/2024</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          class="down-arrow d-flex align-items-center justify-content-center"
        >
          <i class="pi pi-angle-down text-white fs-1"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-2 g-5">
    <div class="col-md-6">
      <div class="form-table position-relative">
        <h3 class="p-3">Intra Logistic</h3>
        <div class="sku-table">
          <table class="table">
            <thead class="">
              <tr>
                <th>Job Order</th>
                <th>SKU</th>
                <th>Material</th>
                <th>Material's Quantity</th>
                <th>Line</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1253</td>
                <td>LM41691000</td>
                <td>Benzalkonium Chloride</td>
                <td>1115345</td>
                <td>3</td>
                <td>05/05/2024</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="rdi-arrow d-flex align-items-center justify-content-center">
          <i class="pi pi-angle-right text-white fs-1"></i>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-table">
        <h3 class="p-3">Dispensed SKU/Batch</h3>
        <div class="sku-table">
          <table class="table">
            <thead class="">
              <tr>
                <th>Job Order</th>
                <th>SKU</th>
                <th>Material</th>
                <th>Material's Quantity</th>
                <th>Line</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1253</td>
                <td>LM41691000</td>
                <td>Benzalkonium Chloride</td>
                <td>1115345</td>
                <td>3</td>
                <td>05/05/2024</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
