<section class="line mt-5">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-md-6">
        <div class="config-form shadow-none">
          <form [formGroup]="lineForm" (ngSubmit)="onSubmit()">
            <div
              class="form-group mb-4 d-flex justify-content-between align-items-center"
            >
              <label for="name">Line Name</label>
              <input
                type="text"
                class="form-control w-50"
                id="name"
                formControlName="name"
              />
            </div>
            <div
              class="form-group mb-4 d-flex justify-content-between align-items-center"
            >
              <label for="plant">Plant</label>
              <p-dropdown
                class="w-50"
                [options]="plantsList"
                formControlName="plantId"
                optionLabel="name"
                optionValue="id"
                placeholder="Select SKU Plant"
              ></p-dropdown>
            </div>
            <div
              class="form-group mb-4 d-flex justify-content-between align-items-center"
            >
              <label for="linesPreShift">Change Standard Shift</label>
              <p-multiSelect
                [options]="shiftList"
                class="w-50"
                [(ngModel)]="selectedShifts"
                [ngModelOptions]="{ standalone: true }"
                defaultLabel="Select Standard Shifts"
                optionLabel="orderName"
                optionValue="id"
                selectedItemsLabel="{0} items selected"
              ></p-multiSelect>

              <!-- <p-dropdown
                class="w-50"
                [options]="shiftList"
                formControlName="linesPreShift"
                optionLabel="orderName"
                optionValue="id"
                placeholder="Select SKU Shift"
              ></p-dropdown> -->
            </div>
            <div class="group-btn d-flex justify-content-center pt-5">
              <button class="main-btn mt-5">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<p-toast></p-toast>
