<section class="human-capital">
  <app-navbar></app-navbar>
  <div class="d-flex justify-content-between align-items-center">
    <app-shared-header [headertext]="'Configure Human Capital'">
    </app-shared-header>
    <div class="form-group w-25 pe-4">
      <select
        class="form-select"
        aria-label="Default select example"
        id="line"
        formControlName="line"
      >
        <option selected>Line</option>
        <option value="1">Line1</option>
        <option value="2">Line2</option>
        <option value="3">Line3</option>
        <option value="4">Line4</option>
        <option value="5">Line5</option>
      </select>
    </div>
  </div>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-4">
        <div class="timing text-center p-4">
          <h3>Start Time</h3>
          <span>08:00 AM</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="timing text-center p-4">
          <h3>Time Now</h3>
          <span>01:30 AM</span>
        </div>
      </div>
      <div class="col-md-4">
        <div class="timing text-center p-4">
          <h3>Remaining Time</h3>
          <span>02:30</span>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <div
              class="counts p-4 d-flex justify-content-between align-items-center"
            >
              <div class="parts text-center">
                <h4>Number of Parts</h4>
                <span>1,048,638</span>
              </div>
              <div class="pockets text-center">
                <h4>Number of Packets</h4>
                <span>96,536</span>
              </div>
              <div class="pallets text-center">
                <h4>Number of Pallets</h4>
                <span>118</span>
              </div>
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <div class="row">
              <div class="col-md-6">
                <div class="form-table">
                  <h3 class="p-3">Name of Staff</h3>
                  <div class="sku-table">
                    <table class="table">
                      <thead class="">
                        <tr>
                          <th>Name</th>
                          <th>Role</th>
                          <th>ID</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>User Name</td>
                          <td>Machine Worker</td>
                          <td>123</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-table">
                  <h3 class="p-3">Batches</h3>
                  <div class="sku-table">
                    <table class="table">
                      <thead class="">
                        <tr>
                          <th>Batch Number</th>
                          <th>Quantity</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>1230121-1</td>
                          <td>123</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="total py-3">
          <div
            class="production light-gray d-flex justify-content-around align-items-center py-1 mb-4"
          >
            <h4>Total Production Hours</h4>
            <span>60 H</span>
          </div>
          <div
            class="stoppage light-gray d-flex justify-content-around align-items-center py-1 mb-4"
          >
            <h4>Total Stoppage Time</h4>
            <span>1.30 H</span>
          </div>
          <div
            class="material light-gray d-flex justify-content-around align-items-center py-1 mb-4"
          >
            <h4>Total Material Consumed</h4>
            <span>500 Ton</span>
          </div>
          <div
            class="energy light-gray d-flex justify-content-around align-items-center py-1 mb-4"
          >
            <h4>Total Energy Consumed</h4>
            <span>119 (KWH)</span>
          </div>
          <div
            class="power light-gray d-flex justify-content-around align-items-center py-1"
          >
            <h4>Total Man Power Consumed</h4>
            <span>30</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
