<section class="config line mt-5">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="config-form shadow-none">
        <form [formGroup]="scaleForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="plant">Plant</label>
                <p-dropdown
                  class="w-50"
                  [options]="plantsList"
                  formControlName="plantId"
                  optionLabel="name"
                  optionValue="id"
                  placeholder="Select SKU Plant"
                ></p-dropdown>
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="plant">Line</label>
                <p-dropdown
                  class="w-50"
                  [options]="lines"
                  formControlName="lineId"
                  optionLabel="name"
                  optionValue="id"
                  placeholder="Select Plant"
                ></p-dropdown>
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="code">Scale Code</label>
                <input
                  type="text"
                  class="form-control w-50"
                  id="code"
                  formControlName="code"
                />
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label
                  for="
              standerInterface"
                  >Scale Standard Interface</label
                >
                <input
                  type="text"
                  class="form-control w-50"
                  id="standerInterface"
                  formControlName="standerInterface"
                />
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="capacity">Scale Capacity</label>
                <input
                  type="number"
                  class="form-control w-50"
                  id="capacity"
                  formControlName="capacity"
                />
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="location">Scale Location</label>
                <input
                  type="text"
                  class="form-control w-50"
                  id="location"
                  formControlName="location"
                />
              </div>
            </div>
            <div class="col-md-6 ps-5">
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="uid">UID</label>
                <input
                  type="text"
                  class="form-control w-50"
                  id="uid"
                  formControlName="uid"
                />
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="qrCode">QR Code</label>
                <input
                  type="text"
                  class="form-control w-50"
                  id="qrCode"
                  formControlName="qrCode"
                />
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="name">Scale Name</label>
                <input
                  type="text"
                  class="form-control w-50"
                  id="name"
                  formControlName="name"
                />
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="type">Room Name</label>
                <p-dropdown
                  class="w-50"
                  [options]="roomType"
                  formControlName="roomId"
                  optionLabel="name"
                  optionValue="id"
                  placeholder="Select Room Type"
                ></p-dropdown>
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="type">Scale Type</label>
                <p-dropdown
                  class="w-50"
                  [options]="typeList"
                  formControlName="scaleTypeId"
                  optionLabel="name"
                  optionValue="id"
                  placeholder="Select Scale Type"
                ></p-dropdown>
              </div>
            </div>
          </div>
          <div class="group-btn d-flex justify-content-center pt-5">
            <button class="main-btn mt-5">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<p-toast></p-toast>
