.cardd {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000052;
  overflow: hidden;
  margin-top: 0.2rem;
  margin-bottom: 1.5rem;
}

* {
  text-align: center;
}

.timeUnit {
  background: #eaeaea 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #0000001a;
  p {
    padding: 1rem;
  }
}
