.header-icon {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 13px;
  cursor: pointer;
}
h4 {
  font-weight: bold;
  font-family: Segoe UI;
  color: #707070;
}
