.parts {
  background-color: #f9f9f9;
  cursor: pointer;
}

.total-parts {
  width: 30%;
}

.bg-arrow {
  width: 10%;
  background: #3481c5 0% 0% no-repeat padding-box;
}

.part-count {
  width: 20%;
}

.cardd {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000052;
}

.availableCard {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #0000001a;
  text-align: center;
  h4,
  h5,
  h6 {
    color: #3481c5;
  }
  h3 {
    color: #696969;
  }
}
