<section class="home">
  <app-navbar></app-navbar>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-3 d-flex align-items-center">
        <img src="../../../../assets/images/home-image.png" class="w-100 pb-5" alt="" />
      </div>
      <div class="col-md-9 ps-3">
        <div class="row g-4">
          <div class="col-md-3">
            <div class="home-card text-center shadow p-4" routerLink="/manufacture">
              <h2 class="">Manufacture</h2>
              <img src="../../../../assets/images/manufacturing.png" class="py-3" alt="" />
              <p>
                Allows industrial orgnaization to control and monitor machines
                and processes
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="home-card text-center shadow p-4" routerLink="/material">
              <h2 class="">Material & Product</h2>
              <img src="../../../../assets/images/processing.png" class="py-3" alt="" />
              <p>
                Allows industrial orgnaization to control and monitor machines
                and processes
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="home-card text-center shadow p-4">
              <h2 class="">Logitics Dashboard</h2>
              <img src="../../../../assets/images/logistics.png" class="py-3" alt="" />
              <p>
                Allows industrial orgnaization to control and monitor machines
                and processes
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="home-card text-center shadow p-4">
              <h2 class="">Human Capital</h2>
              <img src="../../../../assets/images/project-manager_10856848.png" class="py-3" alt="" />
              <p>
                Allows industrial orgnaization to control and monitor machines
                and processes
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="home-card text-center shadow p-4">
              <h2 class="">Energy Dashboard</h2>
              <img src="../../../../assets/images/renewable-energy.png" class="py-3" alt="" />
              <p>
                Allows industrial orgnaization to control and monitor machines
                and processes
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="home-card text-center shadow p-4" routerLink="/setting">
              <h2 class="">System Setting</h2>
              <img src="../../../../assets/images/gears_1632619.png" class="py-3" alt="" />
              <p>
                Allows industrial orgnaization to control and monitor machines
                and processes
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="home-card text-center shadow p-4">
              <h2 class="">Plan & Control</h2>
              <img src="../../../../assets/images/planning.png" class="py-3" alt="" />
              <p>
                Allows industrial orgnaization to control and monitor machines
                and processes
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="home-card text-center shadow p-4" routerLink="/alarms-panel">
              <h2 class="">Alarms Panel</h2>
              <img src="../../../../assets/images/alarm.png" class="py-3" alt="" />
              <p>
                Allows industrial orgnaization to control and monitor machines
                and processes
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="home-card text-center shadow p-4">
              <h2 class="">Signage Streamer</h2>
              <img src="../../../../assets/images/digital-signage.png" class="py-3" alt="" />
              <p>
                Allows industrial orgnaization to control and monitor machines
                and processes
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="home-card text-center shadow p-4" routerLink="/userManagement">
              <h2 class="">User Management</h2>
              <img src="../../../../assets/images/project-manager_10856848.png" class="py-3" alt="" />
              <p>
                Allows industrial orgnaization to control and monitor machines
                and processes
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>