<section class="config customer-calndar vh-100 config-form overflow-x-hidden">
  <app-navbar></app-navbar>
  <app-shared-header [headertext]="'Configure Customer Calendar'">
  </app-shared-header>
  <div class="container-fluid mt-3">
    <div class="row">
      <!-- <div class="col-md-4">
        <div class="shift-count pt-4 pb-5 shared-card config-form">
          <span class="px-4">Shift 1 -<span> 28th May 2024</span></span>
          <div
            class="d-flex justify-content-between align-items-center mt-5 py-2 light-gray"
          >
            <span class="ps-4">Number of Shifts</span>
            <span class="pe-4">4</span>
          </div>
        </div>
      </div> -->
      <div class="col-md-5">
        <div class="shift-form p-3 config-form">
          <h3 class="mb-4">Add New Shift</h3>
          <div class="row">
            <form [formGroup]="shiftForm" (ngSubmit)="onSubmit()">
              <div class="form-group mb-3 d-flex justify-content-between align-items-center">
                <label for="orderName">Order</label>
                <input type="text" class="form-control w-50" id="orderName" formControlName="orderName" />
              </div>
              <div class="form-group mb-3 d-flex justify-content-between align-items-center">
                <label for="start">Start</label>
                <p-calendar formControlName="startTime" [timeOnly]="true" [hourFormat]="'12'" inputId="timeonly"
                  (onSelect)="setMinEndTime($event)"></p-calendar>
              </div>
              <div class="form-group mb-3 d-flex justify-content-between align-items-center">
                <label for="end">End</label>
                <p-calendar formControlName="endTime" [timeOnly]="true" [hourFormat]="'12'" [minDate]="minEndTime"
                  inputId="timeonly"></p-calendar>
              </div>
              <div class="group-btn d-flex justify-content-center pt-2">
                <button class="main-btn px-4 py-1">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-3">
        <div class="calendar shadow">
          <form action="">
            <p-calendar [inline]="true" [showWeek]="true"></p-calendar>
            <div class="group-btn d-flex justify-content-center pt-2">
              <button class="main-btn px-4 py-1">Apply</button>
            </div>
          </form>
        </div>
      </div> -->

      <div class="col-md-7">
        <div class="form-table py-3">
          <div class="">
            <!-- <table class="table">
              <thead class="">
                <tr>
                  <th>Shifts</th>
                  <th>Shift Start Time</th>
                  <th>Shift End Time</th>
                  <th>Shift Duration</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Shift 1</td>
                  <td>08:00 AM</td>
                  <td>04:00 PM</td>
                  <td>8 H</td>
                  <td>
                    <i class="pi pi-file-edit pe-2"></i>
                    <i class="pi pi-trash"></i>
                  </td>
                </tr>
              </tbody>
            </table> -->

            <p-table [value]="shifts">
              <ng-template pTemplate="header">
                <tr>
                  <th>Shifts</th>
                  <th>Shift Start Time</th>
                  <th>Shift End Time</th>
                  <th>Shift Duration</th>
                  <th>Actions</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-shift>
                <tr>
                  <td>{{ shift.orderName }}</td>
                  <td>{{ shift.startTime }}</td>
                  <td>{{ shift.endTime }}</td>
                  <td>
                    {{ shift.durationTime | timeFormat }}
                  </td>
                  <td>
                    <i class="pi pi-file-edit pe-2" (click)="shiftId = shift.id; initFormForUpdate(shift)"></i>
                    <i class="pi pi-trash" (click)="confirmDelete(shift.id)"></i>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row mt-5">

    </div> -->
  </div>
</section>
<!-- Delete Dialog -->
<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"></p-confirmDialog>
