@import "../../../../../assets/styles/layout.scss";
.shift-count {
  span {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Segoe UI;
    color: #707070;
  }
}
.shift-form {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Segoe UI;
  color: #707070;
}
.calendar {
  height: 318px;
}
