.card-overview {
  background-color: #fff;
  cursor: pointer;
  width: 100%;
}

.back {
  width: 7%;
}

.parts {
  background-color: #f9f9f9;
  cursor: pointer;
}

.total-parts {
  width: 30%;
}

.bg-arrow {
  width: 10%;
  background: #3481c5 0% 0% no-repeat padding-box;
}

.part-count {
  width: 20%;
}

.top-SKU-produced {
  width: 100%;
  height: 20%;
  background: #f3f3f3 0% 0% no-repeat padding-box;
}

.cardd {
  background-color: #ffffff;
  box-shadow: 0px 0px 3px #00000052;
}

.p-tree {
  border: 1px solid #dee2e6;
  background: #ffffff;
  color: #495057;
  padding: 0 !important;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
  background: #f2f2f2 0% 0% no-repeat padding-box;
  color: #495057;
}
