<section class="plant mt-5">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-md-6">
        <div class="config-form shadow-none">
          <form [formGroup]="plantForm" (ngSubmit)="onSubmit()">
            <div
              class="form-group mb-4 d-flex justify-content-between align-items-center"
            >
              <label for="name">Plant Name</label>
              <input
                type="text"
                class="form-control w-50"
                id="name"
                formControlName="name"
              />
            </div>
            <div
              class="form-group mb-4 d-flex justify-content-between align-items-center"
            >
              <label for="location">Plant Zone/Location</label>
              <input
                type="text"
                class="form-control w-50"
                id="location"
                formControlName="location"
              />
            </div>
            <!-- <div
              class="form-group mb-4 d-flex justify-content-between align-items-center"
            >
              <label for="plant">Plant</label>
              <input
                type="text"
                class="form-control w-50"
                id="plant"
                formControlName="plant"
              />
            </div> -->
            <div class="group-btn d-flex justify-content-center pt-5">
              <button class="main-btn mt-5">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<p-toast></p-toast>
