<section class="config line mt-5">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="config-form shadow-none">
        <form [formGroup]="roomForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="name">Room Name</label>
                <input
                  type="text"
                  class="form-control w-50"
                  id="name"
                  formControlName="name"
                />
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="num">Room Number</label>
                <input
                  type="text"
                  class="form-control w-50"
                  id="num"
                  formControlName="num"
                />
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="qrCode">QR Code</label>
                <input
                  type="text"
                  class="form-control w-50"
                  id="qrCode"
                  formControlName="qrCode"
                />
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label
                  for="
              uid"
                  >UID</label
                >
                <input
                  type="text"
                  class="form-control w-50"
                  id="uid"
                  formControlName="uid"
                />
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="function">Room Function</label>
                <input
                  type="text"
                  class="form-control w-50"
                  id="function"
                  formControlName="function"
                />
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="location">Room Location</label>
                <input
                  type="text"
                  class="form-control w-50"
                  id="location"
                  formControlName="location"
                />
              </div>
            </div>
          </div>
          <div class="group-btn d-flex justify-content-center pt-5">
            <button class="main-btn mt-5">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<p-toast></p-toast>
