<section class="config line mt-5">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="config-form shadow-none">
        <form action="">
          <div class="row">
            <div class="col-md-6">
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="roomName">Room Name</label>
                <input
                  type="text"
                  class="form-control w-50"
                  id="roomName"
                  formControlName="roomName"
                />
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="roomNumber">Room Number</label>
                <input
                  type="text"
                  class="form-control w-50"
                  id="roomNumber"
                  formControlName="roomNumber"
                />
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="QRCode">QR Code</label>
                <input
                  type="text"
                  class="form-control w-50"
                  id="QRCode"
                  formControlName="QRCode"
                />
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label
                  for="
              uid"
                  >UID</label
                >
                <input
                  type="text"
                  class="form-control w-50"
                  id="uid"
                  formControlName="uid"
                />
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="roomFunction">Room Function</label>
                <input
                  type="text"
                  class="form-control w-50"
                  id="roomFunction"
                  formControlName="roomFunction"
                />
              </div>
              <div
                class="form-group mb-4 d-flex justify-content-between align-items-center"
              >
                <label for="roomLocation">Room Location</label>
                <input
                  type="text"
                  class="form-control w-50"
                  id="roomLocation"
                  formControlName="roomLocation"
                />
              </div>
            </div>
          </div>
          <div class="group-btn d-flex justify-content-center pt-5">
            <button class="main-btn mt-5">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
