<section class="view">
  <div class="row p-2 g-5 mb-3">
    <div class="col-md-6">
      <div class="form-table position-relative">
        <h3 class="p-3">Pre-process Quarantine</h3>
        <div class="sku-table">
          <table class="table">
            <thead class="">
              <tr>
                <th>SKU</th>
                <th>Job Order</th>
                <th>Time</th>
                <th>Average Transition Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1253</td>
                <td>LM41691000</td>
                <td>Benzalkonium Chloride</td>
                <td>1115345</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          class="view-arrow d-flex align-items-center justify-content-center"
        >
          <i class="pi pi-angle-right text-white fs-1"></i>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-table position-relative">
        <h3 class="p-3">Set of Processes</h3>
        <div class="sku-table">
          <table class="table">
            <thead class="">
              <tr>
                <th>SKU</th>
                <th>Job Order</th>
                <th>Time</th>
                <th>Average Transition Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1253</td>
                <td>LM41691000</td>
                <td>Benzalkonium Chloride</td>
                <td>1115345</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          class="down-arrow d-flex align-items-center justify-content-center"
        >
          <i class="pi pi-angle-down text-white fs-1"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-2 g-5">
    <div class="col-md-6">
      <div class="form-table position-relative">
        <h3 class="p-3">Finished Product Store</h3>
        <div class="sku-table">
          <table class="table">
            <thead class="">
              <tr>
                <th>SKU</th>
                <th>Job Order</th>
                <th>Time</th>
                <th>Average Transition Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1253</td>
                <td>LM41691000</td>
                <td>Benzalkonium Chloride</td>
                <td>1115345</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          class="view-arrow d-flex align-items-center justify-content-center"
        >
          <i class="pi pi-angle-right text-white fs-1"></i>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-table">
        <h3 class="p-3">Post Quarantine Store</h3>
        <div class="sku-table">
          <table class="table">
            <thead class="">
              <tr>
                <th>SKU</th>
                <th>Job Order</th>
                <th>Time</th>
                <th>Average Transition Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1253</td>
                <td>LM41691000</td>
                <td>Benzalkonium Chloride</td>
                <td>1115345</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
