<section class="config-sku">
  <app-navbar></app-navbar>
  <app-shared-header [headertext]="'Configure SKU/Material Catalog'">
  </app-shared-header>
  <div class="container-fluid my-3">
    <div class="row">
      <div class="col-md-4">
        <div class="config-form px-4 py-5">
          <form [formGroup]="skuForm" (ngSubmit)="onSubmit()">
            <div
              class="form-group mb-4 d-flex justify-content-between align-items-center"
            >
              <label for="code"
                >SKU Code <span class="text-danger">*</span></label
              >
              <div
                class="d-flex flex-column justify-content-center align-items-start w-50"
              >
                <input
                  type="text"
                  class="form-control w-100"
                  id="code"
                  formControlName="code"
                />
                <div
                  class="text-center"
                  *ngIf="
                    skuForm.get('code')?.errors && skuForm.get('code')?.touched
                  "
                >
                  <p
                    *ngIf="skuForm.get('code')?.getError('required')"
                    class="text-danger"
                  >
                    Code is Required
                  </p>
                </div>
              </div>
            </div>

            <div
              class="form-group mb-4 d-flex justify-content-between align-items-center"
            >
              <label for="name"
                >SKU Name<span class="text-danger">*</span></label
              >
              <div
                class="d-flex flex-column justify-content-center align-items-start w-50"
              >
                <input
                  type="text"
                  class="form-control w-100"
                  id="name"
                  formControlName="name"
                />
                <div
                  class="text-center"
                  *ngIf="
                    skuForm.get('name')?.errors && skuForm.get('name')?.touched
                  "
                >
                  <p
                    *ngIf="skuForm.get('name')?.getError('required')"
                    class="text-danger"
                  >
                    Name is Required
                  </p>
                </div>
              </div>
            </div>
            <div
              class="form-group mb-4 d-flex justify-content-between align-items-center"
            >
              <label for="code">UoM</label>
              <input
                type="text"
                class="form-control w-50"
                id="code"
                formControlName="uom"
              />
            </div>
            <div
              class="form-group mb-4 d-flex justify-content-between align-items-center"
            >
              <label for="creationDate"
                >Creation Date<span class="text-danger">*</span></label
              >
              <div
                class="d-flex flex-column justify-content-center align-items-start w-50"
              >
                <input
                  type="date"
                  class="form-control w-100"
                  id="creationDate"
                  formControlName="creationDate"
                />
                <div
                  class="text-center"
                  *ngIf="
                    skuForm.get('creationDate')?.errors &&
                    skuForm.get('creationDate')?.touched
                  "
                >
                  <p
                    *ngIf="skuForm.get('creationDate')?.getError('required')"
                    class="text-danger"
                  >
                    Date is Required
                  </p>
                </div>
              </div>
            </div>

            <div
              class="form-group mb-4 d-flex justify-content-between align-items-center"
            >
              <label for="code">Created by</label>
              <input
                type="text"
                class="form-control w-50"
                id="code"
                formControlName="createdBy"
              />
            </div>
            <div
              class="form-group mb-4 d-flex justify-content-between align-items-center"
            >
              <label for="code">Status</label>
              <select
                class="form-select w-50"
                aria-label="Default select example"
                id="status"
                formControlName="status"
              >
                <option value="1">Active</option>
                <option value="0">Not active</option>
              </select>
            </div>
            <div
              class="form-group mb-4 d-flex justify-content-between align-items-center"
            >
              <label for="type">Type</label>
              <p-dropdown
                class="w-50"
                [options]="typeList"
                formControlName="productCategoryId"
                optionLabel="name"
                optionValue="id"
                placeholder="Select SKU Type"
              ></p-dropdown>
            </div>
            <div class="group-btn d-flex justify-content-evenly pt-5">
              <button
                class="main-btn"
                type="submit"
                [disabled]="skuForm.invalid"
              >
                Save
              </button>
              <button class="close-btn" type="reset">Reset</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-table py-3">
          <h3 class="px-3">SKU</h3>
          <div class="sku-table">
            <p-table [value]="products">
              <ng-template pTemplate="header">
                <tr>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Created by</th>
                  <th>Status</th>
                  <th>Type</th>
                  <th>Date</th>
                  <th>Actions</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr>
                  <td>{{ product.code }}</td>
                  <td>{{ product.name }}</td>
                  <td>{{ product.createdBy }}</td>
                  <td>{{ product.status == 1 ? "Active" : "Inactive" }}</td>
                  <td>{{ product.productCategoryName }}</td>
                  <td>{{ product.creationDate | date : "dd-MM-YYYY" }}</td>
                  <td>
                    <i
                      class="pi pi-file-edit pe-2"
                      (click)="initForm(product); productId = product.id"
                    ></i>
                    <i
                      class="pi pi-trash"
                      (click)="confirmDelete(product.id)"
                    ></i>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-footer></app-footer> -->
</section>

<!-- Delete Dialog -->
<p-toast></p-toast>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
