<section class="setting">
  <app-navbar class="logo-img"></app-navbar>
  <div class="container">
    <div class="row g-5 py-5">
      <div class="col-md-12">
        <div
          class="setting-configure text-center p-3"
          routerLink="/material/rdi"
        >
          <a>RDI & 4S View</a>
        </div>
      </div>

      <div class="col-md-12">
        <div
          class="setting-configure text-center p-3"
          routerLink="/material/batches"
        >
          <a>Trace Your Batches</a>
        </div>
      </div>
    </div>
  </div>
</section>
